Repository Cleeng/mediastore-sdk, pull requests merged in 2025-02, with the labels that each got.

#466 chore/MSSDK-2108: add missing conventional commits names to commit and branch name verification
  .husky/scripts/verify_branch_name
  .husky/scripts/verify_commit_message
Labels: chore

#465 chore/MSSDK-2135: Remove unused npm packages
  package.json
  pnpm-lock.yaml
  src/components/Payment/DropInSection/DropInSection.tsx
Labels: chore

#468 [chore/MSSDK-2051]: Update readme with info about Google reCAPTCHA
  README.md
Labels: chore

#448 feat/MSSDK-1993: feature branch for Google Recaptcha integration
  .env
  README.md
  package.json
  pnpm-lock.yaml
  src/api/Auth/registerCustomer.js
  src/api/Auth/registerCustomer.ts
  src/api/Payment/submitPayPalPayment.js
  src/api/Payment/submitPayment.js
  src/appRedux/publisherConfigSlice.ts
  src/appRedux/types/publisherConfigSlice.types.ts
  src/components/Payment/Payment.tsx
  src/components/RegisterPage/RegisterForm.tsx
  src/components/RegisterPage/useRegisterForm.ts
  src/hooks/__tests__/useCaptchaVerification.test.ts
  src/hooks/useCaptchaVerification.ts
  src/translations/en/translations.json
  src/types/global.types.ts
  src/util/appConfigHelper.js
  src/util/captcha.test.ts
  src/util/captcha.ts
  src/util/errorCodes.ts
  src/util/validators.ts
Labels: feat

#469 feat/MSSDK-1993: Google Recaptcha integration (#448)
  .env
  .husky/commit-msg
  .husky/scripts/verify_branch_name
  .husky/scripts/verify_commit_message
  README.md
  package.json
  pnpm-lock.yaml
  src/api/Auth/registerCustomer.js
  src/api/Auth/registerCustomer.ts
  src/api/Payment/submitPayPalPayment.js
  src/api/Payment/submitPayment.js
  src/appRedux/publisherConfigSlice.ts
  src/appRedux/types/publisherConfigSlice.types.ts
  src/components/Payment/DropInSection/DropInSection.tsx
  src/components/Payment/Payment.tsx
  src/components/RegisterPage/RegisterForm.tsx
  src/components/RegisterPage/useRegisterForm.ts
  src/hooks/__tests__/useCaptchaVerification.test.ts
  src/hooks/useCaptchaVerification.ts
  src/translations/en/translations.json
  src/types/global.types.ts
  src/util/appConfigHelper.js
  src/util/captcha.test.ts
  src/util/captcha.ts
  src/util/errorCodes.ts
  src/util/validators.ts
Labels: release

#473 chore/MSSDK-2155: add Cleeng pushbot for automated backmerges handling
  .github/workflows/call-publish.yml
  .github/workflows/finalize-release.yml
  .github/workflows/release-candidate-pull-request-check.yml
Labels: chore

#474 chore/MSSDK-2155: add Cleeng pushbot for automated backmerges handling (#473)
  .github/workflows/call-publish.yml
  .github/workflows/finalize-release.yml
  .github/workflows/release-candidate-pull-request-check.yml
Labels: release

#476 chore/MSSDK-2155: update github workflows automation to adapt to not having the develop branch
  .github/labeler.yml
  .github/workflows/finalize-release.yml
  .github/workflows/release-candidate-pull-request-check.yml
  .github/workflows/release-drafter.yml
Labels: skip-changelog

#478 chore/MSSDK-2155: fix the release draft full changelog link
  .github/release-drafter.yml
Labels: chore

#479 chore/MSSDK-2155: fix the release draft full changelog link
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: chore
