Repository Cleeng/mediastore-sdk, pull requests merged in 2025-03, with the labels that each got.

#480 chore/MSSDK-2145: remove embeddable script from repository
  .env.production
  .env.sandbox
  .env.staging
  src/scripts/CleengComponent.js
  src/scripts/cleeng.js
  src/scripts/constants.js
  src/scripts/index.js
  src/scripts/utils.js
  vite.config.ts
Labels: skip-changelog

#482 Feat/mssdk 2171 authorize initial purchase
  src/api/Payment/Primer/authorizePrimerPurchase.ts
  src/api/index.js
  src/components/Payment/Payment.tsx
  src/components/PaymentDropIn/PaymentDropIn.tsx
  src/components/PaymentDropIn/PaymentDropIn.types.ts
  src/components/Primer/Primer.tsx
  src/components/Primer/usePrimer.ts
  src/hooks/usePaymentDropIn.ts
  src/types/Primer.types.ts
Labels: feat

#486 chore/MSSDK-1883: allow using custom origins for translations
  src/util/appConfigHelper.js
Labels: chore

#488 chore/MSSDK-2177: fix the version comparison string
  .github/release-drafter.yml
Labels: chore

#490 chore/mssdk-2162: Remove pause feature
  src/appRedux/innerPopupReducer.js
  src/appRedux/myAccountConsentsPopup.ts
  src/appRedux/offersSlice.ts
  src/appRedux/popup.js
  src/appRedux/popupSlice.ts
  src/appRedux/rootReducer.ts
  src/appRedux/transactionsSlice.js
  src/appRedux/types/index.ts
  src/appRedux/types/myAccountConsentsPopup.types.ts
  src/appRedux/types/offerSlice.types.ts
  src/appRedux/types/popupSlice.types.ts
  src/components/CancelPausePopup/CancelPausePopup.tsx
  src/components/CancelPausePopup/index.ts
  src/components/EditPassword/EditPassword.tsx
  src/components/EditPassword/EditPassword.types.ts
  src/components/MyAccountConsentsPopup/MyAccountConsentsPopup.const.js
  src/components/MyAccountConsentsPopup/MyAccountConsentsPopup.jsx
  src/components/MyAccountConsentsPopup/PopupStyled.js
  src/components/MyAccountConsentsPopup/images/email_sent.svg
  src/components/MyAccountConsentsPopup/images/icon_terms.svg
  src/components/MyAccountConsentsPopup/images/password_reset.svg
  src/components/MyAccountConsentsPopup/images/welcome.svg
  src/components/MyAccountConsentsPopup/index.js
  src/components/OfferMyAccountCard/OfferMyAccountCard.tsx
  src/components/Password/Password.jsx
  src/components/PauseSubscriptionPopup/PauseSubscriptionPopup.jsx
  src/components/PauseSubscriptionPopup/PauseSubscriptionPopupStyled.js
  src/components/PauseSubscriptionPopup/index.js
  src/components/PlanDetailsPopupManager/PlanDetailsPopupManager.tsx
  src/components/Popup/index.js
  src/components/ResumeSubscriptionPopup/ResumeSubscriptionPopup.jsx
  src/components/SubscriptionIcon/SubscriptionIcon.jsx
  src/components/SubscriptionManagement/SubscriptionManagement.jsx
  src/components/SubscriptionSwitchesList/SubscriptionSwitchesList.tsx
  src/components/SwitchPlanPopup/SwitchPlanPopup.jsx
  src/components/Transactions/Transactions.tsx
  src/components/UpdateProfile/UpdateProfile.tsx
  src/components/UpdateProfile/UpdateProfile.types.ts
  src/containers/MyAccount/MyAccount.component.jsx
  src/containers/MyAccount/MyAccount.container.jsx
  src/containers/SubscriptionSwitches/SubscriptionSwitches.component.jsx
  src/containers/UpdateProfile/UpdateProfile.container.js
  src/translations/en/translations.json
Labels: chore

#491 chore/MSSDK-2033: fix some of code quality issues
  src/api/Auth/resetPassword.js
  src/appRedux/publisherConsentsSlice.ts
  src/components/Adyen/Adyen.jsx
  src/components/Button/Button.types.ts
  src/components/CancelSwitchPopup/CancelSwitchPopup.tsx
  src/components/Capture/CaptureForm/CaptureForm.tsx
  src/components/CheckoutConsents/CheckoutConsents.jsx
  src/components/CurrentPlan/EmptyPlanView.tsx
  src/components/EditPassword/EditPassword.tsx
  src/components/Input/Input.tsx
  src/components/LoginPage/LoginForm.jsx
  src/components/MyAccountConsents/MyAccountConsents.jsx
  src/components/PasswordReset/PasswordReset.jsx
  src/components/RegisterPage/useRegisterForm.ts
  src/components/SwitchPlanPopup/SwitchPlanPopup.jsx
  src/components/Transactions/Transactions.tsx
  src/components/Transactions/TransactionsStyled.ts
  src/components/UpdateSubscription/components/Confirmation.tsx
  src/containers/OfferContainer/OfferContainer.types.ts
  src/services/auth.js
  src/util/fetchHelper.js
  src/util/roundNumber.js
Labels: chore

#471 feat/MSSDK-2153: require zip code by default for credit card payments
  src/components/Adyen/Adyen.jsx
Labels: feat

#494 docs/MSSDK-2153: update readme to reflect the default setting of billingAddressRequired prop for Adyen configuration
  README.md
Labels: docs
